.container {
    max-width: 750px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 8px;
}

.header {
    color: navy;
    background-color: lightslategray;
    border-radius: 10px;
    text-align: center;
    font-family: "Satisfy";
    font-size: x-large;
}

h2 {
    color: navy;
    font-family: "Satisfy";
    background-color: lightslategray;
    text-align: center;
    border-radius: 10px;
}


#photo {
    margin: 50px 200px 10px 200px;
    width: 50%;
    border-radius: 8px;
}

body {
    background-color: lightgrey;
}

#chaney {
    margin-inline-start: 46%;
    border-radius: 50%;
    width: 150px;
    height:250px;
}