.container {
    max-width: 750px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.header {
    color: rgb(0, 51, 202);
}

.headers-two {
    color: rgb(40, 68, 226)}

.paragraph {
    color: black
}

img {
    margin: auto;
    width: 50%;
    border-radius: 8px;
}